.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.search-bar {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    transition: 0.4s ease, padding 0.4s ease;
    font-size: 16px;
    background-color: #EDEDED;
}


.search-bar:focus {
    width: 250px;
    padding: 10px 20px;
}


.close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.search-bar:focus+.close-btn {
    opacity: 1;
}

.search-bar:hover {
    transition: 1s ease;
    margin: 5px;
    border: 3px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave ao passar o mouse */
}